html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik-Regular", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: $default-color;
  @extend %rubik-400;
}
main {
  flex-grow: 1;
}
.container-fluid {
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
a {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
  color: #7b7b7b;
}
.title {
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 54px;
  color: $title-color;
}
.breadcrumbs {
  padding: 30px 0 35px;
  background-color: #edf1f4;
  text-align: center;
  &__title {
    @extend %rubik-300;
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 10px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    @extend %rubik-400;
    padding-right: 20px;
    position: relative;
    color: #222933;
    &::after {
      content: "/";
      right: 7px;
      top: 0;
      color: #c2c6c9;
      position: absolute;
    }
    &:last-child {
      padding-right: 0;
    }
    &:last-child::after {
      display: none;
      padding-right: 0;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 24px;
    color: #c2c6c9;
  }
}
.pagination {
  text-align: center;
  &__link {
    display: inline-block;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $default-color;
    padding: 8px 15px;
    border: 1px solid #a3bbc8;
    transition: $transition;

    &:hover,
    &--active {
      background-color: #a3bbc8;
      color: #fff;
    }
  }
  &__link + .pagination__link {
    margin-left: 15px;
  }
}
