@import "vars";
@import "fonts";
@import "reset";
@import "global";
.header {
  background-color: #fff;
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav {
  // overflow: hidden;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:hover .submenu {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  &__item + .nav__item {
    margin-left: 40px;
  }
  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  z-index: 10;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: $transition;
  &__item {
    text-align: center;
    background-color: #edf1f4;
    border-radius: 20px;
  }
  &__link {
    display: block;
    color: inherit;
    padding: 10px 15px;
    border-bottom: 1px solid #fcd7b6;
    transition: $transition;
    &:hover {
      color: #fcd7b6;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.user-nav {
  display: flex;
  justify-content: center;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-link {
    padding: 6px 30px;
    position: relative;
    &:last-child {
      border-left: 1px solid #000;
    }
  }
  &__box-number {
    @extend %dmsans-400;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 20px;
  }
  &__link {
    position: relative;
    &--search,
    &--catalog {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    &--search {
      margin-right: 20px;
      background-color: #edf1f4;
    }
    &--catalog {
      margin-left: 20px;
      background-color: #a3bbc8;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__box {
    width: 175px;
    background-color: #fcd7b6;
    border-radius: 25px;
  }
}

@import "media";
