@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
.header {
  background-color: #fff;
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav {
  // overflow: hidden;
  &__list {
    display: flex;
  }
  &__item {
    position: relative;
    &:hover .submenu {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  &__item + .nav__item {
    margin-left: 40px;
  }
  &__link {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
  }
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 160px;
  z-index: 10;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: $transition;
  &__item {
    text-align: center;
    background-color: #edf1f4;
    border-radius: 20px;
  }
  &__link {
    display: block;
    color: inherit;
    padding: 10px 15px;
    border-bottom: 1px solid #fcd7b6;
    transition: $transition;
    &:hover {
      color: #fcd7b6;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.user-nav {
  display: flex;
  justify-content: center;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box-link {
    padding: 6px 30px;
    position: relative;
    &:last-child {
      border-left: 1px solid #000;
    }
  }
  &__box-number {
    @extend %dmsans-400;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 20px;
  }
  &__link {
    position: relative;
    &--search,
    &--catalog {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    &--search {
      margin-right: 20px;
      background-color: #edf1f4;
    }
    &--catalog {
      margin-left: 20px;
      background-color: #a3bbc8;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &__box {
    width: 175px;
    background-color: #fcd7b6;
    border-radius: 25px;
  }
}
.footer {
  background-color: #fff;
}
.footer-top {
  padding: 70px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  &__contact {
    width: 220px;
    margin-right: 90px;
  }
  &__logo {
    display: inline-block;
  }
  &__address,
  &__phone,
  &__email {
    display: block;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 20px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    color: #1f2044;
    text-transform: uppercase;
  }
  &__nav {
    width: 170px;
    margin-right: 130px;
  }
  &__list-link {
    line-height: 32px;
  }
  &__item-form {
    max-width: 270px;
    width: 100%;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    margin-bottom: 30px;
  }
  &__form {
    position: relative;
  }
  &__form-input {
    width: 100%;
    height: 40px;
    background-color: #fef7f0;
    padding: 14px 110px 14px 14px;
    border: none;
    &::placeholder {
      @extend %dmsans-400;
      font-size: 12px;
      color: #234969;
    }
  }
  &__form-btn {
    position: absolute;
    width: 100px;
    height: 40px;
    margin-right: 100px;
    padding: 9px 15px;
    background-color: #a3bbc8;
    color: #fff;
    border: none;
    @extend %dmsans-400;
    font-size: 14px;
    line-height: 21px;
    right: -100px;
    z-index: 2;
  }
}
.footer-bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
  }
  &__nav {
    display: flex;
  }

  &__nav-link {
    padding-right: 7px;
    margin-right: 7px;
    line-height: 32px;
    border-right: 1px solid #7b7b7b;
  }
  &__nav-item:last-child &__nav-link {
    border-right: none;
    padding: 0;
    margin: 0;
  }
}
.hero {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 220px;

  &__slider-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
  }
  &__slider-content {
    padding-left: 140px;
  }
  &__slider-title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: $default-color;
    margin-bottom: 45px;
    max-width: 425px;
  }
  &__slider-text {
    @extend %rubik-400;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    max-width: 370px;
    margin-bottom: 40px;
  }
  &__slider-btn {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #fff;
    background-color: #a3bbc8;
    padding: 24px 100px 21px 27px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 22px;
      height: 9px;
      background-image: url("../images/icons/hero-btn-arrow.svg");
      background-repeat: no-repeat;
    }
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  li:not(:last-child) {
    margin-right: 12px;
  }
  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 9px;
    border: none;
    color: $default-color;
    background-color: transparent;
    background-color: #fde3cc;
  }
  & .slick-active {
    button {
      background-color: #fff;
    }
  }
}

.hero-bottom {
  background-color: #fef7f0;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    max-width: 420px;
    padding: 55px 75px;
    border-right: 1px solid #e8e4df;
    position: relative;
    &:last-child {
      border-right: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 0;
      width: 55px;
      height: 55px;
    }
    &:nth-child(1)::before {
      background-image: url("../images/icons/hero-1.svg");
      background-repeat: no-repeat;
    }
    &:nth-child(2)::before {
      background-image: url("../images/icons/hero-2.svg");
      background-repeat: no-repeat;
    }
    &:nth-child(3)::before {
      background-image: url("../images/icons/hero-3.svg");
      background-repeat: no-repeat;
    }
  }
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__text {
    max-width: 215px;
    @extend %dmsans-400;
    font-size: 16px;
    line-height: 30px;
    color: #585858;
  }
}
.products {
  padding-top: 70px;
  padding-bottom: 100px;
  &__title {
    text-align: center;
    margin-bottom: 35px;
  }
  &__tabs {
    margin-bottom: 180px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    // place-items: center;
  }
  &__img {
    margin-bottom: auto;
  }

  &__panel-title,
  &__panel-price {
    @extend %dmsans-500;
    font-size: 16px;
    line-height: 40px;
    color: #234969;
  }
  &__panel-price {
    color: #a3bbc8;
  }

  &__panel {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    max-width: 270px;
    min-height: 380px;
    padding: 30px 60px 38px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover .products__user {
      opacity: 1;
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transition: $transition;
  }
  &__user-link {
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__user-link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #a3bbc8;
  }
  &__user-link {
    transition: $transition;
    &:nth-child(2) {
      background-color: #a3bbc8;
      &:hover {
        background-color: #fff;
      }
    }
    &:nth-child(2):hover.products__user-link svg {
      fill: #a3bbc8;
    }
    &:nth-child(2) svg {
      fill: #fff;
    }
    &:hover {
      background-color: #a3bac7;
    }
    &:hover.products__user-link svg {
      fill: #fff;
    }
  }
}
.tabs {
  &__nav {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  &__nav-item + .tabs__nav-item {
    margin-left: 30px;
  }

  &__nav-btn {
    border: none;
    padding: 0;
    background-color: transparent;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 30px;
    color: #8b8b8b;
    cursor: pointer;
    &.mixitup-control-active {
      color: $title-color;
    }
  }
}
.products-content {
  &__inner {
    display: flex;
    justify-content: center;

    gap: 30px;
  }
  &__item {
    width: 870px;
    min-height: 390px;
    display: flex;
    align-items: center;

    padding: 100px;
    background-color: #feefe2;
    position: relative;
  }
  &__img {
    position: absolute;
    left: 40px;
    top: -100px;
  }
  &__info {
    max-width: 360px;
    margin-left: auto;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  &__descr {
    @extend %rubik-400;
    line-height: 30px;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: #436372;
    border: 1px solid #436372;
    border-radius: 10px;
    padding: 25px 86px 25px 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 22px;
      height: 9px;
      background-image: url("../images/icons/products-content-link.svg");
    }
  }
}
.design {
  padding-bottom: 120px;
  &__title {
    text-align: center;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__panel {
    background-color: #f8f8f8;
    min-height: 250px;
    padding-top: 40px;
    padding-left: 30px;
  }
  &__panel-title {
    max-width: 175px;
    @extend %dmsans-700;
    font-size: 20px;
    color: $title-color;
  }
  &__panel-decr {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}
.popup {
  background-image: url("../images/popup-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px;
  &__inner {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.articles {
  background: #fff;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  &__link {
    @extend %dmsans-700;
    color: $title-color;
    padding: 5px 15px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/articles-arrow.svg");
      background-repeat: no-repeat;
      width: 6px;
      height: 11px;
      right: 0;
      top: 12px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 1;
  }
  &__list-link img {
    height: 250px;
    object-fit: cover;
  }
  &__list-item {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__list-box {
    padding: 35px 25px;
  }
  &__list-text {
    @extend %dmsans-500;
    font-size: 18px;
    color: $title-color;
    min-height: 75px;
    margin-bottom: 20px;
    display: inline-block;
  }
  &__list-link {
    position: relative;
    &::before {
      content: "news";
      position: absolute;
      bottom: -15px;
      left: 30px;
      @extend %dmsans-700;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      background-color: #a3bbc8;
      border-radius: 15px;
      padding: 5px 25px;
    }
  }

  &__list-info {
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
  }
  &__list-date,
  &__list-author {
    @extend %rubik-400;
    font-size: 12px;
    line-height: 30px;
    color: #222933;
  }
  &__list-author {
    margin-left: 25px;
  }
}
.partners {
  min-height: 430px;
  background-color: #fef7f0;
  margin-top: -200px;
  position: relative;
  &--login {
    min-height: 250px;
    margin-top: 0;
    .partners__box {
      top: 0;
      bottom: 0;
    }
  }
  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: -200px;
    bottom: -380px;
    left: 0;
    right: 0;
  }
}
.mission {
  padding: 110px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__image {
    margin-right: 30px;
  }
  &__content {
    max-width: 570px;
    padding: 85px 0 90px;
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__info-num {
    @extend %rubik-700;
    font-size: 140px;
    line-height: 32px;
    color: #a3bbc8;
    margin-right: 30px;
  }
  &__info-box {
    margin-top: 20px;
  }
  &__info-text,
  &__descr {
    @extend %rubik-400;
    line-height: 30px;
    color: $default-color;
  }
  &__title {
    padding-bottom: 40px;
    color: $default-color;
  }
  &__descr {
    padding-bottom: 40px;
    margin-bottom: 35px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 500px;
      left: 0;
      bottom: 0;
      background-color: #ebeef3;
    }
  }
  &__list {
    max-width: 520px;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    padding-right: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 80px;
      background-color: #e6eaf0;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__item-icon {
    margin-right: 20px;
  }
  &__item-box {
  }
  &__item-num {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 38px;
    color: $default-color;
    margin-bottom: 5px;
  }
  &__item-text {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}
.achievement {
  padding: 80px 0;
  background-color: #fcd7b6;
  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  &__img {
    width: 64px;
    height: 57px;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 26px;
      right: 40px;

      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.8);
      width: 35px;
      height: 35px;
    }
  }
  &__num {
    margin-bottom: 20px;
  }
  &__num,
  &__text {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    color: $default-color;
  }
  &__text {
    font-size: 18px;
  }
}
.team {
  padding: 120px 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    max-width: 300px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 32px;
    color: $default-color;
    margin-bottom: 30px;
  }
  &__text {
    @extend %rubik-400;
    line-height: 30px;
    color: $default-color;
    margin-bottom: 40px;
  }
  &__link {
    @extend %rubik-400;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    background-color: #a3bbc8;
    border-radius: 5px;
    padding: 20px 60px 20px 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 25px;
      top: 25px;
      width: 15px;
      height: 11px;
      background-image: url("../images/icons/team-arrow.svg");
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px 30px;
  }
  &__item {
    position: relative;
  }
  &__box {
    background-color: #fff;
    position: absolute;
    padding: 15px 0px 30px 25px;
    width: 320px;
    height: 110px;
    bottom: -50px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box-name {
    @extend %dmsans-700;
    font-size: 22px;
    color: #436372;
  }
  &__box-position {
    @extend %rubik-400;
    line-height: 30px;
    color: #565872;
  }
  &__box-social {
    display: flex;
  }
  &__box-icon {
    z-index: 1;
    position: relative;
  }
  &__box-link {
    margin-right: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: #f6f6f6;
      width: 41px;
      height: 41px;
      top: -12px;
      left: -11px;
    }
  }
}
.accordion {
  padding: 110px 0;
  &__btn {
    border: none;
    width: 100%;
    background-color: transparent;
    text-align-last: left;
    @extend %rubik-500;
    font-size: 24px;
    line-height: 40px;
    color: $default-color;
    margin-bottom: 35px;
    cursor: pointer;
  }
  &__list {
    counter-reset: num;
    display: none;
    &:not(:last-child) {
      margin-bottom: 70px;
    }
  }
  &__item {
    counter-increment: num;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    color: $default-color;
    width: 100%;
    padding: 10px;
    display: flex;

    &::before {
      content: "0" counter(num) ".";
      margin-right: 15px;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.login {
  padding: 120px 0;
  &__form {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }
  &__label {
    @extend %rubik-400;
    font-size: 14px;
    // line-height: 100px;
    color: #436372;
    display: block;
  }
  &__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    border: 1px solid #f6f6f6;
    padding: 0 15px;
  }
  &__btn {
    border: none;
    padding: 20px 0;
    width: 100%;
    @extend %rubik-500;
    font-size: 18px;
    background-color: #a3bbc8;
    color: #fff;
    margin-bottom: 35px;
    cursor: pointer;
  }
  &__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  &__restore-link,
  &__check-label,
  &__register-text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 48px;
    color: #436372;
  }
  &__check-label {
    display: flex;
    align-items: center;
    padding-left: 24px;
    position: relative;
  }
  &__check {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .login__check-content {
      background-image: url("../images/icons/check.svg");
      background-repeat: no-repeat;
      background-position: 2px 1px;
    }
  }
  &__check-content {
    border-radius: 2px;
    background-color: #ebebeb;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
  }
  &__register-text {
    text-align: center;
  }
  &__register-btn {
    border: none;
    background-color: transparent;
    border: 1px solid #a3bbc8;
    width: 100%;
    @extend %rubik-500;
    font-size: 18px;
    color: $default-color;
    padding: 20px 0;
    cursor: pointer;
  }
}
.shop {
  padding: 110px 0;
  &__inner {
    display: flex;
  }
}
.shop-filter {
  width: 270px;
  margin-right: 30px;
  &__item {
    margin-bottom: 70px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: $default-color;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 25px;
    &::after {
      content: "";
      position: absolute;
      width: 39px;
      height: 3px;
      background-color: #a3bbc8;
      transform: translateY(-50%);
      top: 50%;
      margin-left: 10px;
    }
  }
}
.shop-category {
  &__inner {
  }
  &__box {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__input {
    display: none;
  }
  &__label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 0 20px 0 10px;
    position: relative;
    transition: $transition;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 43px;
    color: $default-color;
    &:hover {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__label:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 17px;
    right: 20px;

    background-image: url("../images/icons/check-right.svg");
    background-repeat: no-repeat;
  }
  &__input:checked + .shop-category__label {
    background-color: #edf1f4;
    border-radius: 5px;
  }
}
.irs--flat {
  margin-top: 30px;
}
.irs--flat .irs-line {
  top: 0px;
  height: 3px;
  background-color: #a3bbc8;
  opacity: 0.659;
  border-radius: 3px;
  width: 270px;
}
.irs--flat .irs-bar {
  top: 0px;
  height: 4px;
  background-color: #a3bbc8;
  border-radius: 0;
}
.irs--flat .irs-handle {
  top: -6px;
  width: 15px;
  height: 15px;
  background-color: #a3bbc8;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  @extend %rubik-400;
  font-size: 14px;
  line-height: 43px;
  color: $default-color;
  background-color: transparent;
  top: 3px;
}

.irs--flat .irs-from {
  left: 0 !important;
}
.irs--flat .irs-to {
  left: 85% !important;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  display: none;
}
.shop-brand {
  &__label {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px 5px 10px;
    position: relative;
    transition: $transition;
    @extend %rubik-400;
    font-size: 16px;
    line-height: 43px;
    color: $default-color;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
    }
    &:hover {
      background-color: #edf1f4;
      border-radius: 5px;
    }
  }
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
  }
  &__input:checked + .shop-brand__label {
    background-color: #edf1f4;
    border-radius: 5px;
  }
}
.shop-recent {
  &__item {
    display: flex;

    margin-bottom: 20px;
  }
  &__img {
    border: 2px solid #f2f2f2;
    background-color: #fefefe;
    padding: 3px;
    object-fit: contain;
    width: 70px;
    height: 70px;
    margin-right: 30px;
  }

  &__subtitle,
  &__price {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 15px;
    color: #333;
  }
  &__star {
    margin: 10px 0;
  }
  &__price {
    line-height: 27px;
  }
}
.shop-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  margin-bottom: 100px;
}
@import "media";
